* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 2.0vh;
    font-family: Arial, Helvetica, sans-serif;
}


.sessaoProdutos{
    top: 2vh;
    position: relative;
}

.sessaoProdutos .tituloSessao{
    text-align: center;
}

.sessaoProdutos .tituloSessao h1{
    color:#0fa;
    font-size: 3vh;
    font-family: monospace;
}

.gridProdutos{
    display: grid;
    
}

.cardProduto{
    background-color: rgba(230, 230, 230, 0.384);
    max-width: 25vh;
    margin: 2vh;
    box-shadow: 0 0 2vh 0 rgba(0, 0, 0, 0.37);
    transition: 0.3s;
    position: relative;
    
}

.cardProduto:hover{
    box-shadow: 0 0 2vh 0 #0fa;
    border: .09vh solid rgba(0, 255, 170, 0.568);
    border-radius: 0.25em;
}

.cardProduto img{
    max-width: 13vh;
    max-height: 23vh;
}

.infoProduto{
    display:flex;
    justify-content: center;
    position: relative;
    padding: 1vh 0;
}

.nomeProduto{
    color:black;
    font-size: 2vh;
    font-family: monospace;
    position: absolute;
}

.precoProduto{
    position: absolute;
    top: 3vh;
    color:rgba(43, 43, 43, 0.788);
    font-family: monospace;
    font-weight: bold;
}

.botoes{
    position: relative;
    padding: 3vh 0;

}

.botoes .botaoProduto{
    width:50%;
    border: 0vh;
    position:absolute;
    bottom: 0vh;
    padding: 1vh 0;
    font-size: 1.5vh;
    color: white;
    font-family: monospace;
}

#comprar{
    left: 0px;
    background-color: black;
    transition: 0.2s;
}

#comprar:hover{
    left: 0px;
    background-color: #0fa;
    color: white;
    text-shadow: 0 0 2vh 0 white;
    box-shadow: 0 0 3vh 0 #0fa;
}

#detalhes{
    right: 0px;
    background-color: rgb(83, 83, 83);
}
#detalhes:hover{
  color: black;
  box-shadow: 0 0 1vh 0 black;
}

