<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content ="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../../assets/componentes/navBarMobile.css" >
        <link rel="stylesheet" href="../../../assets/componentes/footer.css" >
        <link rel="stylesheet" href="../../../assets/loja/promocao.css" >
        <link rel="stylesheet" href="../../../assets/loja/produtos.css" >
        <link href='https://fonts.googleapis.com/css?family=Yellowtail:400' rel='stylesheet' type='text/css'>
        <title>Loja X</title>
    </head>
    <body>
        <header>
            <img  class ="img" src ="../../../imagens/loja/icone2.svg" alt="logoloja" />
            <nav id="navMobile">
                <button id="botaoMobile"><span id="desenhoBotao"></span>
                </button>
                    <ul class="menu">
                        <li><a href="<?= base_url('ControllerLoja/cadastra_produto')?>">Jogos</a></li>
                        <li><a>Consoles</a></li>
                        <li><a>Acessorios</a></li>
                        <li><input type="text" placeholder="Pesquise algum produto "/></li>    
                        <li><a>Cadastro</a></li>
                        <li><a>Login</a></li>
                    </ul>
            </nav>
        </header>
        <br>
        <form enctype="multipart/form-data">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="number">
            <input type="number">
            <input type="file">
            <button >Registrar</button>
            <button >Resetar</button>
        </form>
        <script type="text/javascript" src="../../../assets/componentes/navBarMobile.js"></script>
<script type="text/javascript" src="../../../assets/loja/promocao.js"></script>
<br />  
<footer class="rodape"> 
        <div class="conteudo" style="font-weight: bold;">
            <p>DESIGN BY JBFEUZEBIO
            </p>
            <ul class="contatos">
                <li><a><img class="iconesocial" src ="../../../imagens/loja/instagram.svg" alt="logoloja"/></a></li>
                <li><a><img class="iconesocial" src ="../../../imagens/loja/twitter.svg" alt=""></a></li>
                <li><a><img class="iconesocial" src ="../../../imagens/loja/telefone.svg" alt=""></a></li>
                <li>
                    <p>Número de contato:</p>
                    <center><p>555-4002-8922</p></center>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>