* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 2.0vh;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: lightgray;
    position: relative;
    
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding : 2.0vh;
    align-items: center;
    background-image: linear-gradient(rgb(51, 51, 51) 96%, #0fa );
    box-shadow: 0 0 2vh 0 #0fa;
    width: 100%;
}

header img{
    height: 4.0vh;
}

header .menu{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0.45vw;
    margin-right: 0.5vh;
}

header .menu > li:nth-child(4){
    margin-right: 20vw;
}

header .menu li{
    margin-left: 5px;
    margin-right: 5px;
    align-self: center;
    padding: 0.9vh;
    
    
}

header .menu li:hover {
    border: 0.23vh solid #0fa;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 #0fa, 0 0  0.5em 0 #0fa;
    color: #0fa;
    
}

header .menu > li:nth-child(4):hover{
    margin-right: 20vw;
    border: none;
    box-shadow: 0 0 0 0;
}


header .menu li a{
    font-family:  monospace;
    font-size: 2.0vh;
    color: white;
}

header .menu li a:hover{
    cursor: pointer;
    color: #0fa;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

header .menu li a:hover::before{
    content: "";
    box-sizing: border-box;
    position: fixed;
    background-color: #0fa;
    margin-top: 3.4vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 2vh;
    width: 4vh;
    align-self: center;
    

    transform: scale(1, 0.35) perspective(1em) rotatex(40deg);
    filter: blur(2em);
    opacity: 0.7;
    }

#botaoMobile{
    display: none;
}
@media(max-width: 980px){
    header .menu > li:nth-child(4){
        margin-right: 1vw;
        transition: 0.2s;
    }
}
@media (max-width: 782px){ /* INICIO MOBILE */
    #botaoMobile{
        display: flex;
        padding: 1.0vh 1.0vh;
        border: none;
        background: none;
        cursor: pointer;
        }
    
    #desenhoBotao{
        border-top: 2px solid white;
        width: 3.0vh;
    }
    
    #desenhoBotao::after,
    #desenhoBotao::before {
      content: '';
      display: block;
      width: 3.0vh;
      height: 2px;
      background: white;
      margin-top: 5px;
      transition: 0.4s;
      position: relative;
    }

    header .menu{
        position: absolute;
        width: 100%;
        top: calc(15px + 6.0vh);
        right: 0px;
        display: block;
        background-color: rgb(63, 63, 63);
        height: 0px;
        transition: .7s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    header .menu li{
        margin-right: 0px;
        padding: 10px;
        border-bottom: 2px solid rgba(233, 233, 233, 0.63);
    }

    header .menu li:hover{
        border-top:none;
        border-right:none;
        border-left: none;
        box-shadow:  0 0 2vh 0 #0fa;
        
    }

    header .menu > li:nth-child(4):hover{
        margin-right: 20vw;
        box-shadow:  0 0 2vh 0 #0fa;
        padding-right: 100%;
        border-bottom: 2px solid #0fa;
    }

    header .menu li a:hover::before{
        content: "";
        box-sizing: border-box;
        position: fixed;
        background-color: #0fa;
        margin-top: 2.0vh;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 2vh;
        width: 4vh;
        align-self: center;
        
    
        transform: scale(1, 0.35) perspective(1em) rotatex(40deg);
        filter: blur(2em);
        opacity: 0.7;
        }
    
    header .menu li a{
        padding-right: 100%;
    }

    #navMobile.navAtiva .menu{
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - (15px + 6.0vh));
    }

    #navMobile.navAtiva #botaoMobile #desenhoBotao{
        border-top-color: transparent;
    }

    #navMobile.navAtiva #desenhoBotao::before{
        transform: rotate(135deg);
    }

    #navMobile.navAtiva #desenhoBotao::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}